* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --tomato: hsl(4, 100%, 67%);
  --tomato-shadow: hsla(4, 100%, 67%, 0.2);
  --tomato-dark: hsl(353, 61%, 58%);
  --dark-slate-grey: hsl(234, 29%, 20%);
  --charcoal-grey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);
  font-size: 16px;
}

body {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 100%;
  max-width: 960px;
  display: flex;
  flex-direction: column;
}

#main-img-desktop {
  display: none;
}

#main-info {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

h1 {
  color: var(--dark-slate-grey);
  font-size: 2.4rem;
}

p,
li {
  color: var(--charcoal-grey);
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

li {
  display: flex;
  gap: 12px;
  align-items: start;
  transform: translateX(-8%);
  opacity: 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px 0;
}

label {
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--dark-slate-grey);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#error-message {
  color: var(--tomato);
}

input {
  height: 56px;
  border: 1px solid #00000040;
  border-radius: 8px;
  padding: 0 24px;
  font-size: 1rem;
}

input:focus {
  outline: none;
  border-color: var(--dark-slate-grey);
  color: var(--dark-slate-grey);
}

.invalid-input {
  border-color: var(--tomato);
  background-color: var(--tomato-shadow);
  color: var(--tomato);
}

button {
  border: none;
  height: 56px;
  border-radius: 8px;
  background-color: var(--dark-slate-grey);
  color: var(--white);
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.success {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px;
}

#success-message {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
}

#success-message img {
  width: 64px;
  height: 64px;
}

footer {
  font-size: 11px;
  text-align: center;
}

footer a {
  color: hsl(228, 45%, 44%);
}

/* MEDIA QUERIES ------------------------- */
@media (min-width: 768px) {
  body {
    background-color: var(--charcoal-grey);
    justify-content: center;
    gap: 40px;
  }

  main {
    flex-direction: row;
    align-items: center;
    padding: 0;
    border-radius: 24px;
    background-color: var(--white);
    box-shadow: 0 16px 40px #00000056;
  }

  #main-info {
    order: 1;
    flex: 1;
    padding: 64px;
  }

  h1 {
    font-size: 3.2rem;
  }

  button:hover {
    background: linear-gradient(to right, var(--tomato-dark), var(--tomato));
    box-shadow: 0 16px 32px var(--tomato-shadow);
    transform: translateY(-2px);
  }

  #main-img-mobile {
    display: none;
  }

  #main-img-desktop {
    display: block;
    order: 2;
    padding: 24px 24px 24px 0;
  }

  .success {
    min-height: auto;
    width: 480px;
    background-color: var(--white);
    padding: 64px;
    gap: 40px;
    border-radius: 24px;
    box-shadow: 0 16px 40px #00000056;
  }

  footer {
    color: var(--grey);
  }
  footer a {
    color: var(--white);
  }
}

/* ANIMATIONS ---------------------------- */

.appear-animate {
  animation: appear 0.8s ease-in-out;
}

@keyframes appear {
  0% {
    transform: translateY(-4%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

li {
  animation: appear-li 0.6s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes appear-li {
  0% {
    transform: translateX(-8%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

ul li:nth-child(1) {
  animation-delay: 0.1s;
}

ul li:nth-child(2) {
  animation-delay: 0.2s;
}

ul li:nth-child(3) {
  animation-delay: 0.3s;
}

.hidden {
  display: none;
}
